.banner{
    height: 20vh;
    background-color: rgb(51.2%, 98%, 84.6%);
    background-image: url('https://data.whicdn.com/images/163647494/original.jpg');
    background-position-x: center; /*จัดตำแหน่งรูปภาพตามแกน*/
    background-position-y: center;
    background-position: center;
    background-size:cover; 
    display: flex; /*จัดของที่อยู่ข้างใน*/
    align-items: center; /*จัดของที่อยู่ข้างใน*/

    /*psudo element จะอยู่คู่กับtag ที่มีเปิด-ปิด*/
    position: relative;
    z-index: 1;
}
.banner::before{
    content: '';
    background-color: rgba(0,0,0,0.6);
    position:absolute; /*จำกัดตำแหน่งที่ยืดออก*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /*ตำแหน่งของผู้อ่าน คล้ายกับ layer*/
}
.banner .toggle-side-menu{
    display: none;
    border: 1px solid rgb(98%, 93.3%, 28.6%);
    background-color: black;
    color: white;
   padding-top: 8px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 8px;
   border-radius: 5px;

   position: absolute;
   left: 5px;
   top: 5px;
}
.banner .banner-title{
    font-size: 1.5rem;
    color: yellow;
    margin-left: 1.5rem
}

@media(max-width:992px){
    .banner .toggle-side-menu{
        display: block;
    }
}